<div class="top">
  <h2 class="text">Shopping Cart</h2>
</div>
<div class="white"></div>
<div class="main">
  <div *ngFor="let item  of items" class="course-div text2">
    <span>{{item.name}} </span>
    <span>{{item.cost | currency}}</span>
    <div class="buttons right">
      <button class="smallbtn">♡</button>
      <span> | </span>
      <button class="smallbtn">X</button>
    </div>
  </div>
  <div class="buttons right">
    <button routerLink="/buy">Buy</button>
  </div>
</div>

<div class="buttons clearbtn">
  <button (click)="clearCart()">Clear</button>
</div>
