<form class="box"> <!--action="index.html" method="post"-->
  <h1>Register</h1>
  <div>
    <p>How are you?</p>
    <input type="radio" name="choose"> Student
    <input type="radio" name="choose"> Teacher
  </div>
  <input type="text" name="" placeholder="Name">
  <input type="text" name="" placeholder="Surname">
<!--  <input type="text" name="" placeholder="Phone number">-->
<!--  <p>Enter your date of birth</p>-->
<!--  <input type="date">-->
  <input type="text" name="" placeholder="Username">
  <input type="password" name="" placeholder="Create password">
<!--  <input type="password" name="" placeholder="Confirm password">-->
  <input type="button" name="" value="Register">
  <a routerLink="/login">Do you have account? Log in!</a>
</form>
