* {
  padding: 0;
  margin: 0;
  background: none;
  backdrop-filter: blur(10px);
}
.center{
  background-color: whitesmoke;
}
h3{
  background-color: #1f1f1f;
  color: white;
  padding: 30px;
  padding-left: 50px;
  font-weight: 200;
  font-size: 25px;
}
.smallbtn{
  margin-left: 120px;
  width:20px;
}
.smallbtn:hover{
  background-color: rgb(255, 255, 255);
}
.btn {
  display: inline-table;
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
  width: 120px;
  font-family: monospace;
  background-color: white;
  border-radius: 3px;
  display: inline;
}
.right{
  background-color: #5232b7;
  color:white;
  margin-left: 0px;
}
.btn:hover {
  transition-duration: 0.4s;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}
h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
  width: 900px;
  text-align: center;
}
.image-div {
  height: 135px;
  width: 240px;
  background-color: #b194ff;
}
ul li {
  width: 240px;
  list-style-type: none;
  display: inline-table;
  padding: 20px;
  border-radius: 3px;
}
ul li:hover {
  transition-duration: 0.4s;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
ul a {
  text-decoration: none;
  color: black;
}
ul a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.text {
  font-family: monospace;
  font-size: 14px;

}
.name {
  text-align: center;
  background-color: #5232b7;
  padding: 10px 0px 10px 0px;
  font-weight: bold;
  color: white;
}
.courses-div {
  margin-left: 50px;
  margin-top: 50px;
}
.categories {
  margin-left: 180px;
}
.categories li {
  text-align: center;
  font-size: 18px;
}
.categories li:hover {
  transition-duration: 0.3s;
  font-weight: bold;
  color: #5232b7;
  cursor: pointer;
}
