<div>
  <input type="text" placeholder="Enter your name">
  <input type="text" placeholder="Enter your surname">
  <input type="text" placeholder="Enter your phone number">
  <label for="birthday">Birthday:</label>
  <input type="date" id="birthday" name="birthday">
  <input type="text" placeholder="Enter your email">
  <input type="password" placeholder="Create your password">
  <input type="password" placeholder="Confirm your password">
  <div>
    <input type="radio" id="male" name="gender" value="male">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female">Female</label><br>
  </div>
  <button>Create</button>
</div>
