<form class="box"> <!--action="index.html" method="post"-->
  <h1>Register</h1>
  <input type="text" name="" placeholder="Name">
  <input type="text" name="" placeholder="Surname">
  <input type="text" name="" placeholder="Phone number">
  <p>Enter your date of birth</p>
  <input type="date">
  <input type="text" name="" placeholder="Email">
  <input type="password" name="" placeholder="Create password">
  <input type="password" name="" placeholder="Confirm password">
  <input type="submit" name="" value="Register">
</form>
