<body>
<header>
  <img class="logo" src="assets/logo.png" alt="logo">
  <nav>
    <ul class="nav_links">
      <li><a routerLink="/home" class="main-menu-option">Home</a></li>
      <li><a class="main-menu-option">Cources</a></li>
    </ul>
  </nav>
  <div class="buttons">
    <a routerLink="/login" class="cta"><button>Login</button></a>
    <a routerLink="/create" class="cta"><button>Register</button></a>
  </div>
</header>
<div class="content">
  <router-outlet></router-outlet>
</div>
<footer id="footer">

</footer>
</body>
    
