<body>
    <nav>
      <ul >
        <li class="left">
          <a routerLink="/home" class="main-menu-option">Home</a>
        </li>
        <li class="right">
            <a routerLink="courses">Courses</a>
        </li>
        <li class="right">
            <a routerLink="cart">Cart</a>
        </li>
        <li class="right">
          <a routerLink="/login" >Login</a>
        </li>
        <li class="right1">
          <a routerLink="/user-info">User</a>
        </li>
      </ul>
    </nav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    </body>
    
