* {
  padding: 0;
  margin: 0;
  background: none;
  backdrop-filter: blur(10px);
}
.wrapper {
  background: url("src/assets/home.jpg");
  background-size: cover;
  height: 100vh;
}

.wrapper .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  user-select: none;
  padding-top: 50px;
  border-radius: 20px;
}
.center h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
  width: 900px;
  text-align: center;
}
.center .buttons {
  margin: 35px 380px;
}
.buttons button {
  height: 50px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  background: white;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
}
.buttons button:hover {
  background: #9c14de;
  color: white;
  border-color: white;
  transition: all 0.3s ease 0s;
}
.center h2 {
  color: white;
  font-size: 70px;
  font-weight: bold;
  width: 885px;
  margin-top: 10px;
  text-align: center;
}
.page-title {
  font-family: monospace;
  padding: 20px;
}
.image-div {
  height: 135px;
  width: 240px;
  background-color: #b194ff;
}
ul li {
  width: 240px;
  list-style-type: none;
  display: inline-table;
  padding: 20px;
  border-radius: 3px;
}
ul li:hover {
  transition-duration: 0.4s;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
ul a {
  text-decoration: none;
  color: black;
}
ul a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.text {
  font-family: monospace;
  font-size: 14px;
}
.name {
  text-align: center;
  background-color: #5232b7;
  padding: 10px 0px 10px 0px;
  font-weight: bold;
  color: white;
}
.courses-div {
  margin-left: 1%;
  margin-top: 1%;
}
.categories {
  /*margin-left: 180px;*/
  text-align: center;
}
.categories li {
  text-align: center;
  font-size: 18px;
}
.categories li:hover {
  transition-duration: 0.3s;
  font-weight: bold;
  color: #5232b7;
  cursor: pointer;
}

.courses-div {
  width: 98%;
  text-align: center;
}
