<div class="wrapper">
  <div class="center">
    <h1>Courses to get you started</h1>
    <h2>Start learning now</h2>
    <div class="buttons">
      <button (click)="getCourses()" (click)="scroll(target)">View Courses</button>
    </div>

  </div>
</div>

<div #target class="categories">
  <ul>
    <li><a (click)="getCourses()">All</a></li>
    <li *ngFor="let category of categories">
      <a (click)="getCategory(category.id)">{{category.name}}</a>
    </li>
  </ul>
</div>

<div class="courses-div">
  <ul>
    <li *ngFor="let course of courses" class="text">
      <p class="text name">{{course.name}}</p>
      <div class="image-div">
        <img src="{{course.imagepath}}">
      </div>
      <!--    <a routerLink="/courses/{{course.id}}">{{course.id}}) {{course.name}}</a>-->
      <a [routerLink]="['/courses', course.id]">{{course.title}}</a>
      <h4>{{course.cost | currency}}</h4>
    </li>
  </ul>
</div>
