<div class="wrapper">
   <div id="gradient">
    <img  src="https://cdn.fishki.net/upload/post/2020/06/10/3341133/e8c971a0627d2f00264c2d493fde6f32.jpg"
         alt="Teacher's photo"  width=200px ></div>  
         <div class="info">
       Name: <div class="teacher">Erran </div>
      Surname: <div class="teacher">Gaengerf</div>
      Position:  <div class="teacher">Teacher</div>
      <div class="list">
        <a routerLink="/course-adding">Add Course</a>
        <a routerLink="/current-courses">My Courses</a>
      </div>
    </div>
    <div id="continue">
       d
    </div>
    </div>