<div class="wrapper"><div class="center"><p>  Erran Gaengerf's info </p> 
    <img src="https://cdn.fishki.net/upload/post/2020/06/10/3341133/e8c971a0627d2f00264c2d493fde6f32.jpg"
         alt="Teacher's photo"  width=60% >
    <div id="info">Name: <div class="teacher">Erran Gaengerf</div>
      Position:  <div class="teacher">Teacher</div>
      Age:  <div class="teacher">18</div>
      Location: <div class="teacher">Almaty</div>
      Github:<div class="teacher">Erran_Gaendarf</div></div>
      <div class="list">
        <a routerLink="/course-adding">Add Course</a><br>
      </div>
    </div></div>
  