.wrapper{
  background-color: #ffffff;
  width:1500px;
  height:700px;
  
}
a {
    color: #2e2e2e;
    border: 1px solid rgb(172, 168, 168);
    padding: 3px;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    font-size: large;

  }
  #gradient{
    position: absolute;
    left: 10%;
    border-color: #696969;
    border-radius: 2px;
    background:#696969;
    background: -moz-radial-gradient(center, ellipse cover,#696969, #C0C0C0);
    background: -webkit-linear-gradient(top,#696969, #C0C0C0);
    width: 1000px;
    height:220px;
    border: 1px solid #333;
    }
    #continue{
      position: absolute;
      top: 1200px;
      left: 10%;
      background:#696969;
      width: 1000px;
      height:220px;
    }
  .list{
      margin:10px;
  }
  div{
    text-align: left;
    font-size: 20px;;
  }
  img{
    padding-left: 100px;
  }
  .info{
    position:absolute;
    top: 80px;
    left: 450px;
    width:500px;
  }
  .user{
    font-size:18px;
    border: 2px solid #979090;
    border-radius: 0px;
    padding: 3px;
    margin: 2px;
  }
  a:hover {
    color: #6f54ca;
    background-color: rgb(167, 168, 168);

  }